.DropArea {
  width: 80%;
  min-width: 100px;
  height: 50vh;
  border: solid 1px black;
  border-radius: 10px;
  border-style: dashed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  scrollbar-width: none;
}

.DropArea::-webkit-scrollbar {
  display: none;
}

.DropArea li {
  font-family: "Courier New", Courier, monospace;
  font-size: small;
  list-style-type: none;
}

.DropAreaPending {
  background-color: rgba(82, 109, 173, 0.2);
}

.DropAreaDropped {
  background-color: rgba(84, 172, 128, 0.2);
}
