.DropArea {
  width: 40vw;
  height: 30vh;
  /* background-color: rgb(222, 184, 135, 0.3); */
  border: solid 1px black;
  border-radius: 10px;
  border-style: dashed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.DropAreaPending {
  background-color: rgb(222, 184, 135, 0.3);
}

.DropAreaDropped {
  background-color: rgb(173, 255, 47, 0.3);
}
