.FileSelection {
  display: flex;
  flex-direction: column;
  padding: 0.5vh 1vw;
}

.button {
  width: min-content;
  margin-right: 1vw;
  display: flex;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
