.ul {
  list-style: none;
  padding: 0;
  margin: 1vh 0;
  height: 60vh;
  overflow-y: scroll;
  /* hide the scrollbar */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hide the scrollbar */
.ul::-webkit-scrollbar {
  display: none;
}

.ulMobile {
  list-style: none;
  padding: 0;
  margin: 1vh 0;
  height: 20vh;
  overflow-y: scroll;
  /* hide the scrollbar */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hide the scrollbar */
.ulMobile::-webkit-scrollbar {
  display: none;
}

.li {
  display: flex;
  justify-content: space-between;
  padding: 0.5vh 1vw;
  border: 1px solid #ccc;
}

.a {
  text-decoration: none;
  color: darkblue;
  width: 100%;
}

.liMobile {
  display: flex;
  justify-content: space-between;
  padding: 0.5vh 1vw;
  border: 1px solid #ccc;
  width: 70vw;
}

.span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.delete {
  cursor: pointer;
  min-width: 5vw;
}

@media screen and (max-width: 576px) {
  .li {
    width: 35vw;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .li {
    width: 40vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .li {
    width: 35vw;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .li {
    width: 40vw;
  }
}

@media screen and (min-width: 1200px) {
  .li {
    width: 40vw;
  }
}

@media screen and (min-width: 1500px) {
  .li {
    width: 45vw;
  }
}
