.FileSelection {
  display: flex;
  flex-direction: column;
  padding: 1vh 1vw;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid #8a93a7;
  border-radius: 5px; */
  width: 45vw;
  height: 70vh;
}

.FileSelectionMobile {
  display: flex;
  flex-direction: column;
  padding: 1vh 1vw;
  align-items: center;
  border: 1px solid rgb(75, 95, 104, 0.3);
  border-radius: 5px;
  width: 90vw;
  margin-bottom: 2.5vh;
}

.button {
  width: min-content;
  margin-right: 1vw;
  display: flex;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.button {
  width: fit-content;
  margin-right: 1vw;
  display: flex;
}

.span {
  margin-left: 0.5em;
}

@media screen and (max-width: 768px) {
  .span {
    display: none;
  }
  .button {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .button {
    font-size: 1rem;
    min-width: 80px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .button {
    font-size: 1.1rem;
    min-width: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .button {
    font-size: 1.1rem;
    min-width: 90px;
  }
}

@media screen and (min-width: 1500px) {
  .button {
    font-size: 1.2rem;
    min-width: 100px;
  }
}

.instruction {
  height: 10vh;
  line-height: 10vh;
  margin: auto;
  font-size: 0.9rem;
  text-align: center;
  color: rgb(25 17 169);
  /* prevent select*/
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
