.ul {
  list-style: none;
  padding: 0;
  margin: 1vh 0;
}

.li {
  display: flex;
  justify-content: space-between;
  padding: 0.5vh 1vw;
  border: 1px solid #ccc;
}

.span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.delete {
  cursor: pointer;
  min-width: 5vw;
}

@media screen and (max-width: 576px) {
  .li {
    width: 35vw;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .li {
    width: 40vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .li {
    width: 35vw;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .li {
    width: 40vw;
  }
}

@media screen and (min-width: 1200px) {
  .li {
    width: 40vw;
  }
}

@media screen and (min-width: 1500px) {
  .li {
    width: 45vw;
  }
}
