.Sidebar {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 0.5vh 1vw;
  min-width: 100px;
}

.selected {
  background-color: rgba(84, 172, 128, 0.2);
}

.button {
  width: fit-content;
  margin-right: 1vw;
  display: flex;
}

.span {
  margin-left: 0.5em;
}

@media screen and (max-width: 400px) {
  .Sidebar {
    order: 3;
    flex-direction: row;
    height: fit-content;
    padding: 0;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .span {
    display: none;
  }
  .button {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .button {
    font-size: 1rem;
    min-width: 120px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .button {
    font-size: 1.1rem;
    min-width: 130px;
  }
}

@media screen and (min-width: 1200px) {
  .button {
    font-size: 1.1rem;
    min-width: 130px;
  }
}

@media screen and (min-width: 1500px) {
  .button {
    font-size: 1.2rem;
    min-width: 140px;
  }
}
