.Sidebar {
  margin-block-start: 5vh;
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 0.5vh 1vw;
  min-width: 100px;
  height: min-content;
}

.SidebarMobile {
  margin-top: 2vh;
  order: 2;
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.selected {
  background-color: rgba(84, 138, 172, 0.2);
}

.button {
  width: fit-content;
  margin-right: 1vw;
  display: flex;
  cursor: pointer;
}

.disabled {
  color: grey;
  cursor: not-allowed;
}

.buttonMobile {
  width: min-content;
  height: min-content;
  margin-right: 1vw;
  display: flex;
  font-size: 2.25rem;
  padding: 0.25rem 0.25rem;
}

.span {
  margin-left: 0.5em;
}

.spanMobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .span {
    display: none;
  }
  .button {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .button {
    font-size: 1rem;
    min-width: 120px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .button {
    font-size: 1.1rem;
    min-width: 130px;
  }
}

@media screen and (min-width: 1200px) {
  .button {
    font-size: 1.1rem;
    min-width: 130px;
  }
}

@media screen and (min-width: 1500px) {
  .button {
    font-size: 1.2rem;
    min-width: 140px;
  }
}
