.Transformations {
  padding: 0.5vh 1vw;
}

.TransformationsMobile {
  padding: 1vh 1vw;
  border: 1px solid rgb(75, 95, 104, 0.3);
  border-radius: 5px;
  width: 90vw;
  height: 41vh;
}

.form {
  padding: 2vh 2vw;
  display: flex;
  flex-direction: column;
  height: 37.5vh;
  overflow: auto;
  justify-content: start;

  /* hide the scrollbar */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hide the scrollbar */
.form::-webkit-scrollbar {
  display: none;
}

label,
input {
  margin-bottom: 2vh;
}

.label {
  margin-right: 1rem;
}

.input {
  width: 2vw;
  min-width: 50px;
  padding: 0;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 0.5;
}

.inputText {
  width: 10vw;
  min-width: 200px;
  padding: 0 0 0 0.5rem;
  text-align: start;
}

.button {
  margin: 5vh 1vw 0 1vw;
}

.p {
  margin-top: 0;
}

.labelSmall {
  margin-top: 2vh;
  display: flex;
  font-size: smaller;
  font-style: italic;
  color: darkblue;
  margin-left: 0.2rem;
}

@media screen and (max-width: 576px) {
  .form {
    min-width: 50px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .form {
    min-width: 150px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .form {
    min-width: 250px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .form {
    min-width: 250px;
  }
}

@media screen and (min-width: 1200px) {
}
