/*Globals added*/
* {
  font-family: "Roboto", sans-serif;
}

input,
select,
button {
  border-radius: 4px;
  border-color: black;
  border-width: 1px;
}

.App {
  display: grid;
  grid-template-rows: 10vh 85vh 5vh;
}

.main {
  width: 100%;
  overflow: auto;
  display: grid;
  grid-template-columns: 20fr 50fr 30fr;
  padding-top: 10vh;
  background-color: #e7e7e7;

  /* background-image: url("https://fastly.picsum.photos/id/11/2500/1667.jpg?hmac=xxjFJtAPgshYkysU_aqx2sZir-kIOjNR9vx0te7GycQ"); */
  /* background-image: url("https://fastly.picsum.photos/id/16/2500/1667.jpg?hmac=uAkZwYc5phCRNFTrV_prJ_0rP0EdwJaZ4ctje2bY7aE");
  background-size: cover; */
}

@media screen and (max-width: 576px) {
  .main {
    grid-template-columns: 25vw 30vw 45vw;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .main {
    grid-template-columns: 20vw 40vw 40vw;
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .main {
    grid-template-columns: 20vw 40vw 40vw;
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .main {
    grid-template-columns: 20vw 40vw 40vw;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    grid-template-columns: 20vw 40vw 40vw;
    font-size: 1rem;
  }
}

.header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  justify-content: flex-start;
  font-size: calc(8px + 2vmin);
  color: white;
}

.footer {
  background-color: #282c34;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  font-size: calc(2vmin);
  line-height: calc(2 * 2vmin);
  padding-right: 1vw;
  color: white;
}
